@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f9fa;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

nav .meetup-logo {
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  color: #f64060 !important;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 1;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.card {
  border: none !important;
}

.event-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.speaker-img-wrapper {
  width: 100px;
  height: 100px;
  margin: 1rem auto 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.speaker-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-md-5 {
  margin-bottom: 2rem;
}